body{
  background-color: beige;
  color: black; 
  margin: 0;
  padding: 0;
}

.centered-form{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 250px;
}
.login-form{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 12px;
}
.signup-form{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 30px;
}
.centered-form2{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 180px;
}
.addbook-form{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
}